@font-face {
    font-family: 'nexa-rust';
    src: url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.eot');
    src: url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff2') format('woff2'),
         url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff') format('woff'),
         url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.ttf') format('truetype'),
         url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.svg#nexa_rust_slabblack_shadow_01') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'intro-rust-base';
    src: url('fonts/introrustg-base2line-webfont.eot');
    src: url('fonts/introrustg-base2line-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/introrustg-base2line-webfont.woff2') format('woff2'),
         url('fonts/introrustg-base2line-webfont.woff') format('woff'),
         url('fonts/introrustg-base2line-webfont.ttf') format('truetype'),
         url('fonts/introrustg-base2line-webfont.svg#intro_rust_gbase_2_line') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'intro-rust-head';
    src: url('fonts/introheadr-base-webfont.eot');
    src: url('fonts/introheadr-base-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/introheadr-base-webfont.woff2') format('woff2'),
         url('fonts/introheadr-base-webfont.woff') format('woff'),
         url('fonts/introheadr-base-webfont.ttf') format('truetype'),
         url('fonts/introheadr-base-webfont.svg#intro_head_rbase') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'intro-rust-h2';
    src: url('fonts/introscriptr-h2base-webfont.eot');
    src: url('fonts/introscriptr-h2base-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/introscriptr-h2base-webfont.woff2') format('woff2'),
         url('fonts/introscriptr-h2base-webfont.woff') format('woff'),
         url('fonts/introscriptr-h2base-webfont.ttf') format('truetype'),
         url('fonts/introscriptr-h2base-webfont.svg#intro_script_rh2_base') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    background-image: url(../img/wallpaper2.jpg);
    background-size: cover;
    width: 100%;
}


header{
    padding: 0px 100px 0px 100px;
    margin-bottom: -40px;
}

#controls{
    text-align: center;
}

.controlsDetails {
	margin: 0;
}

#divHeader{
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 40px;
    color: beige;
    font-family: 'intro-rust-h2';
    margin-bottom: 0px;
}

#gameFrame{
    position: relative;
    border: 10px solid #310003;
    border-radius: 5px;
    background-color: lightgrey;
    margin: 50px auto;
    width: 1280px;
    height: 470px;
    background-image: url(../sprites/stageBeige.jpg);
}

#score{
    position: absolute;
    border: solid #310003;
    border-radius: 15px;
    overflow: hidden;
    width: 150px;
    height: 40px;
    left: 560px;
    top: 80px;
    font-family: 'intro-rust-base';
}

#divScore{
    position: absolute;
    top: 10px;
    left: 30px;
}

#nuage{
    position: absolute;
    top:-80px;
    left: -30px;
}

#charaContainer{
    position: absolute;
    overflow: hidden;
}

#enemiesContainer{
    position: absolute;
    overflow: hidden;
}

#link{
    position: absolute;
    left: -305px;
    top: -200px;
}

#enemies{
    position: absolute;
    width: 765px;
    height: 756px;
    transform: scaleX(-1);
}

#shenron{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 220px;
    height: 165px;
}

#navy{
    position: absolute;
    left: 1185px;
    top: 0px;
    width: 95px;
    height: 95px;
}

#skillFrame{
    width: 1280px;
    height: 100px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#sectionLiens{
    margin: auto;
}

#frameLiens{
    width: 1100px;
    height: 555px;
    margin: auto;
}

fieldset{
    display: inline;
}

#iconeGit{
    background-color: #FED18E;
    opacity: 0.5;
}

#iconeCv{
    background-color: #FED18E;
    opacity: 0.5;
}

@keyframes tourne {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#dragonBalls{
    
    animation: tourne 60s infinite;
    width: 100px;
    height: 100px;
    left: 150px;
    top: 45px;
}

#linkTired{
    width: 90px;
    height: 100px;
    left: 1320px;
    top: 45px;
}
span{
    color: black;
}

#textCV{
    font-family: 'intro-rust-h2';
}

#textGIT{
    font-family: 'intro-rust-h2';
}

#nexa{
   font-family: 'nexa-rust'; 
}

#introBase{
    font-family: 'intro-rust-base';
}

#introHead{
    font-family: 'intro-rust-head';
}

#introH2{
    font-family: 'intro-rust-h2';
}